body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* logo */
.header .logo{
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: none;
  font-weight: bold;
}
/* end */

.header {
  float: none;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: #000000 url(../imgs/children.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
}
.header nav{
  float:  right;
}
.header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.header nav ul li {
  list-style: none;
  z-index: 1000;
  background: #2196f3;
}
.header nav ul li.sub-menu:before{
  content: '\f0d7';
  font-family: fontAwesome;
  line-height: 50px;
  color: #ff0;
  right: 5px;
}
.header nav ul li.active.sub-menu:before{
  content: '\f0d8';
}
.header nav ul li ul{
  left: 0;
  background: #333;
  display: none;
}
.header nav ul li.active ul{
  display: block;
}
.header nav ul li ul li{
  display: block;
  width: 200px;
}
.header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}
.header nav ul li a:hover, .header nav ul li a.active{
  color: #fff;
  background: #1176d3;
}

.main{
  left: 0;
  padding: 0 100px;
  background: #F0F0F0;
  background-position: center;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
}

.main .section1 {
  overflow: hidden;
  width: 100%;
  margin: 0px auto;
}
.main .section1 div h1{
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}
.main .section1 div p{
    margin-bottom: 40px;
    text-align: center;
}

.footer1{
    margin-top: 40px;
    padding-top: 40px;
    background: #F0F0F0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: right;
}

#itemTable {
  text-align: center;
  }

#itemTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#itemTable td, #itemTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#itemTable tr:nth-child(even){background-color: #f2f2f2;}

#itemTable tr:hover {background-color: #ddd;}

#itemTable th {
    padding: 12px 12px 12px 12px;
    text-align: left;
    background-color: #2196f3;
    color: white;
}

#searchBar {
  background-image: url('../imgs/searchicon.png');
  background-size: 16px 16px;
  background-position: 15px 15px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
}


<script type="text/javascript">
$(document).ready(function(){
$('.menu-toggle').click(function(){
$('nav').toggleClass('active')
})
$('ul li').click(function(){
$(this).siblings().removeClass('active');
$(this).toggleClass('active');
})
})
</script>
